.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.canvas {
  overflow: hidden;
  border-radius: 4px;
  width: 800px;
  height: 500px;
  border-radius: 15px;
}

.header {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-family: 'GUMDROP';
  font-size: 36px;
  color: #000;
}

.backBtn {
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.backBtn:active {
  transform: scale(0.9);
}

.gryf {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 387px;
  top: 297px;

  border: 6px solid #887d87;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slyt {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 580px;
  top: 297px;

  border: 6px solid #887d87;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rave {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 387px;
  top: 491px;

  border: 6px solid #887d87;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.huff {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 580px;
  top: 491px;

  border: 6px solid #887d87;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.joinHouse {
  right: 0;
  bottom: 130px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.joinHouse:active {
  transform: scale(0.9);
}

.houseName {
  color: #fff;
  position: absolute;
  left: 50px;
  top: 290px;
  font-family: 'GUMDROP';
  font-size: 32px;
}

.sub1 {
  font-family: 'GUMDROP';
  font-size: 20px;
  position: absolute;
  left: 50px;
  top: 336px;
  color: #b8b8b8;
}

.spec {
  width: 255px;
  height: 20px;
  position: absolute;
  top: 372px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'GUMDROP';
  font-size: 20px;
}

.sub2 {
  font-family: 'GUMDROP';
  font-size: 20px;
  position: absolute;
  left: 50px;
  top: 535px;
  color: #b8b8b8;
}

.spells {
  width: 255px;
  height: 112px;
  top: 578px;
  position: absolute;
  left: 50px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-around;
}

.spells::-webkit-scrollbar {
  display: none;
}
