.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.createButton {
  height: 33px;
  font-size: 14px;
  background-color: #0094ff;
  border: 1px solid #0094ff;
  border-radius: 4px;
  color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.createButton:hover {
  cursor: pointer;
}

.canvas {
  overflow: hidden;
  border-radius: 4px;
  width: 800px;
  height: 500px;
  border-radius: 15px;
}

.infoHeader {
  width: 800px;
  height: 92px;
  background-color: #282b39;
  border-radius: 15px;
  margin-bottom: 8px;
  position: relative;
  margin-top: 4px;
}

.roomIdInput {
  width: 248px;
  height: 42px;
  background: #282b39;
  border-radius: 12px;
  border: 3px solid;
  background: linear-gradient(0deg, #282b39, #282b39), linear-gradient(90.45deg, #df7862 1.03%, #dd9788 101.46%);
  position: absolute;
  top: 25px;
  left: 306px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 24px;
  font-family: 'GUMDROP';
  color: #fff;
  outline: none;
}

.roomIdInput::outline {
  display: none;
}

.createRoom {
  position: absolute;
  top: 25px;
  left: 32px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.createRoom:active {
  transform: scale(0.8);
}

.joinRoom {
  position: absolute;
  top: 25px;
  right: 32px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.joinRoom:active {
  transform: scale(0.8);
}

.splitText {
  width: 29px;
  height: 23px;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  left: 256px;
  top: 35px;
  position: absolute;
  font-family: 'GUMDROP';
}

.allyAddress {
  position: absolute;
  font-family: 'GUMDROP';
  top: 22px;
  left: 28px;
  color: #bfc6e2;
  font-size: 20px;
  line-height: 19px;
}

.enemyAddress {
  position: absolute;
  font-family: 'GUMDROP';
  top: 22px;
  right: 28px;
  color: #bfc6e2;
  font-size: 20px;
  line-height: 19px;
}

.vsText {
  position: absolute;
  width: 59px;
  height: 53px;
  font-family: 'GUMDROP';
  font-size: 55.4545px;
  line-height: 53px;
  top: 20px;
  left: 371px;
}

.healthBarAlly {
  width: 294px;
  height: 20px;
  border-radius: 5px;
  border: 3px solid #b7bac7;
  position: absolute;
  left: 28px;
  top: 46px;
  background: #616473;
}

.healthBarAllyLayer {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #83e26b;
  transform: scaleX(0.7);
  transform-origin: left;
}

.healthBarEnemy {
  width: 294px;
  height: 20px;
  border-radius: 5px;
  border: 3px solid #b7bac7;
  position: absolute;
  right: 28px;
  top: 46px;
  background: #616473;
}

.healthBarEnemyLayer {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #83e26b;
  transform: scaleX(0.7);
  transform-origin: right;
  transition: transform all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mainPlayerInfo {
  width: 800px;
  /* background: red; */
  position: absolute;
  top: 25vh;
  display: flex;
  justify-content: space-between;
}
.avatar {
  margin-left: 16px;
  margin-top: 16px;
}

.address {
  font-family: 'GUMDROP';
  font-size: 20px;
  color: #fff;
  /* margin-left: 12px; */
  position: absolute;
  top: 23px;
  left: 89px;
}

.slp {
  margin-right: 16px;
  margin-top: 16px;
}
.slpWrapper {
  padding: 8px 12px;
  background: rgba(139, 139, 139, 0.7);
  border-radius: 8.05369px;
  display: flex;
  justify-content: center;
}

.slpNumber {
  font-family: 'GUMDROP';
  font-size: 20px;
  color: #fff;
  margin-top: 4px;
  margin-left: 4px;
}

.roomInfoHeader {
  width: 800px;
  position: relative;
  height: 42px;
}

.roomId {
  top: 4px;
  position: absolute;
  font-family: 'GUMDROP';
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.outRoom {
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.outRoom:active {
  transform: scale(0.8);
}

.copy {
  position: absolute;
  top: 8px;
  left: 190px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.copy:active {
  transform: scale(0.8);
}

.result {
  position: absolute;
  top: 350px;
}

.mic {
  /* position: absolute;
  bottom: 0; */
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mic:active {
  transform: scale(0.8);
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  background: rgba(235, 217, 254, 0.8);
}

.inputAddressContainer {
  width: 530px;
  height: 384px;
  border-radius: 30px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.walletAddressInput {
  border: 3px solid #df7862;
  border-radius: 12px;
  width: 80%;
  height: 44px;
  font-family: 'GUMDROP';
  font-size: 24px;
  line-height: 23px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  color: #474747;
  /* margin-top: 12px; */
  margin-top: 32px;
}

.walletAddressInput::placeholder {
  color: #afafaf;
}

.bringMeMagic {
  margin-top: 28px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.bringMeMagic:active {
  transform: scale(0.9);
}

.uiOverlay {
  width: 800px;
  height: 500px;
  /* background: gray; */
  /* opacity: 0.5; */
  position: absolute;
  top: 25.3vh;
}

.classroom {
  position: absolute;
  cursor: pointer;
  bottom: 88px;
  right: 54px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.houses {
  position: absolute;
  top: 143px;
  left: 277px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wedding {
  position: absolute;
  left: 429px;
  top: 24px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.classroom:hover {
  transform: scale(1.1);
}

.houses:hover {
  transform: scale(1.1);
}

.wedding:hover {
  transform: scale(1.1);
}

.classroom:active {
  transform: scale(0.9);
}

.houses:active {
  transform: scale(0.9);
}

.wedding:active {
  transform: scale(0.9);
}

.axiesBtn {
  position: absolute;
  bottom: 12px;
  left: 313px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.summonBtn {
  position: absolute;
  bottom: 12px;
  left: 392px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.friendsBtn {
  position: absolute;
  bottom: 12px;
  left: 570px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.spellsBtn {
  position: absolute;
  bottom: 12px;
  left: 484px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.settingsBtn {
  position: absolute;
  bottom: 12px;
  right: 32px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.axiesBtn:hover {
  transform: scale(1.1);
}

.summonBtn:hover {
  transform: scale(1.1);
}

.friendsBtn:hover {
  transform: scale(1.1);
}

.spellsBtn:hover {
  transform: scale(1.1);
}

.settingsBtn:hover {
  transform: scale(1.1);
}

.axiesBtn:active {
  transform: scale(0.9);
}

.summonBtn:active {
  transform: scale(0.9);
}

.friendsBtn:active {
  transform: scale(0.9);
}

.settingsBtn:active {
  transform: scale(0.9);
}

.spellsBtn:active {
  transform: scale(0.9);
}

.timer {
  font-family: 'GUMDROP';
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
  top: 175px;
}

.bossBtn {
  position: absolute;
  left: 20px;
  top: 100px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.bossBtn:hover {
  transform: scale(1.1);
}

.bossBtn:active {
  transform: scale(0.9);
}
